﻿@page
@model ExternalModel
@{ ViewData["Title"] = "API for external companies"; }
<h1>@ViewData["Title"]</h1>

<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

<div class="container">
    <p>Use this page to test the security of our medical scan images.</p>
    <p>Enter patient image and key to retrieve scanned images.</p>
    <div class="row mt-3">
        <form id="getPatientImage">
            <div class="form-group">
                <label for="patientID">Patient image filename</label>
                <input type="text" class="form-control" id="patientID" aria-describedby="help" placeholder="patient-nnnnnn.jpg">
                <small id="help" class="form-text text-muted">Ensure you have been given a vaild filename.</small>
            </div>
            <div class="form-group">
                <label for="sasKey">Key</label>
                <input type="text" class="form-control" id="sasKey" aria-describedby="help" placeholder="provided access key">
                <small id="help" class="form-text text-muted">You wont be able to view the image without a key.</small>
                <button id="btn-getKey" class="btn btn-success">Get Key</button>
            </div>
            <button id="btn-submit" type="submit" class="btn btn-primary">View scan</button>
        </form>
    </div>
    <div class="row mt-5">
        <div id="result" role="alert"></div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#getPatientImage').submit(function (e) {
            e.preventDefault();
        });
    });

    $('#btn-submit').click(function () {
        $('#result').empty();
        $.get('api/PatientRecord/' + $('#patientID').val() + '/secure', function (data) {
            var imageURL = data.imageURI + $('#sasKey').val();
            $('#result').html('<img id="patientScan" class="alert alert-success" src="' + imageURL + '" alt="patient scan" onerror="this.classList.remove(\'alert-success\'); this.classList.add(\'alert-danger\')"//>');
        }, 'json');
    });

    $('#btn-getKey').click(function () {
        $.get('api/PatientRecord/' + $('#patientID').val() + '/secure', function (data) {
        //    $.get('api/PatientRecord/' + $('#patientID').val(), function (data) {
                $('#sasKey').val(data.sasToken);
            }, 'json');
        });

</script>